*.iml
/.idea/
/.gradle/
/build/
/app/build/
/.idea/caches/
/.idea/codeStyles/
/.idea/libraries/
/.idea/modules/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures/
.externalNativeBuild
.cxx
/local.properties
local.properties
app/src/androidTest/
app/src/test/
