<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chengwf.designviewdemo">

    <application>
        <activity android:name=".other.TabLayoutDemoActivity"></activity>
        <activity android:name=".DesignViewListActivity" />
    </application>

</manifest>